    <img class="tab" src="/assets/leadership-tab.png">
    <p>
    	<span class="first-line-caps">Eskridge & White Motion Therapy</span> <span class="line-blue">is dedicated to providing exceptional quality and care in our physical therapy services.</span> <span class="line-bigger">From injury prevention and rehabilitation to fitness and wellness, it is our goal to improve the quality of life and function of every patient.</span>
    </p>
    <p>
    	Our philosophy is to restore healthy, normal movement patterns that maximize function by combining both the art and science of applied functional anatomy in the evaluation, treatment, and management of movement dysfunction.
    <p>
    <p>
    	We specialize in manual therapy (soft tissue and joint mobilization) techniques, manual therapeutic exercise, functional movement matrixes, skilled application of therapeutic modalities, and patient education to restore healthy, balanced patterns in the skeletal, muscular, myofascial, lymphatic, and neural systems.
    </p>
    <p>
    	Whether you are an Olympic athlete, grandmother, professional triathlete, housewife, football player, joint replacement recipient, serious athlete, weekend warrior, stroke survivor, volleyball player, cancer survivor, golfer, factory worker, runner, or teacher, our commitment to you is to provide you with exceptional quality and exceptional care.
    </p>
    <p>
    	Each motion therapist is extensively trained to address your movement dysfunction. Weekly mentoring programs as well as bi-weekly in-service programs help to ensure that our therapists maintain a high proficiency of effective treatment applications and techniques. Additionally, each physical therapist participates in yearly off-site continuing education course(s) to maintain a current physical therapy license. Your physical therapist will work with you individually to help you achieve your goals at home, work or in your sport.
    </p>
