<div class="row philosophy-content">
    <div class="large-9 columns about-us">
        {{!-- <img class="color-bar" src="/assets/color-bar.png"> --}}
    <img class="tab" src="/assets/leadership-tab.png">
    <div class="employee-block">
        <img class="bio-pic" src="/assets/amandakrumrie.png">
        <div class="title-bar">
            <h3 class="employee">amanda krumrie <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <div class="employee-block">
        <img class="bio-pic" src="/assets/amandalane.png">
        <div class="title-bar">
            <h3 class="employee">amanda lane <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <div class="employee-block">
        <img class="bio-pic" src="/assets/candacegraham.png">
        <div class="title-bar">
            <h3 class="employee">candace graham <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <div class="employee-block">
        <img class="bio-pic" src="/assets/candyearly.png">
        <div class="title-bar">
            <h3 class="employee">candy early <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <div class="employee-block">
        <img class="bio-pic" src="/assets/candyearly.png">
        <div class="title-bar">
            <h3 class="employee">candy early <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <div class="employee-block">
        <img class="bio-pic" src="/assets/ellijomalchi.png">
        <div class="title-bar">
            <h3 class="employee">elli jo malchi <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <div class="employee-block">
        <img class="bio-pic" src="/assets/ivy spencer.png">
        <div class="title-bar">
            <h3 class="employee">ivy spencer <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <div class="employee-block">
        <img class="bio-pic" src="/assets/jasongrammer.png">
        <div class="title-bar">
            <h3 class="employee">jason grammer <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <div class="employee-block">
        <img class="bio-pic" src="/assets/kennyjnofinn.png">
        <div class="title-bar">
            <h3 class="employee">candy early <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    </div>
    <div class="large-3 columns sidebar">
        {{partial 'about-sidebar'}}
    </div>
</div>