<ul class="inline-list subnav-list">
  <li class="subnav-item">{{#linkTo "about.philosophy"}}philosophy{{/linkTo}}</li>
  <li class="subnav-item">//</li>   
  <li class="subnav-item">{{#linkTo "about.leadership"}}leadership{{/linkTo}}</li>
  <li class="subnav-item">//</li> 
<<<<<<< HEAD
  <li class="subnav-item">{{#linkTo 'about.staff'}}staff{{/linkTo}}</li>
=======
  <li class="subnav-item">staff</li>
>>>>>>> 469d17bf8b367ae7612805bf3bb903364d996b15
</ul>