<ul class="inline-list">
  <li>{{#linkTo 'about.philosophy'}}philosophy{{/linkTo}}</li>   
  <li>{{#linkTo 'about.leadership'}}leadership{{/linkTo}}</li>
  <li>{{#linkTo 'about.staff'}}staff{{/linkTo}}</li>
  <li>{{#linkTo 'about.affiliations'}}affiliations{{/linkTo}}</li>
</ul>