<ul class="inline-list subnav-list">
  <li class="subnav-item">{{#linkTo 'about.philosophy'}}philosophy{{/linkTo}}</li>
  <li class="subnav-item">//</li>   
  <li class="subnav-item">{{#linkTo 'about.leadership'}}leadership{{/linkTo}}</li>
  <li class="subnav-item">//</li> 
  <li class="subnav-item">{{#linkTo 'about.staff'}}staff{{/linkTo}}</li>
</ul>