<div class="row philosophy-content">
	<div class="large-9 columns about-us">
		{{!-- <img class="color-bar" src="/assets/color-bar.png"> --}}
    <img class="tab" src="/assets/about-us-tab.png">
    <div class="subpage-content-container">
    <p>
    	<span class="first-line-caps">Eskridge & White Motion Therapy</span> <span class="line-blue">is dedicated to providing exceptional quality and care in our physical therapy services.</span> <span class="line-bigger">From injury prevention and rehabilitation to fitness and wellness, it is our goal to improve the quality of life and function of every patient.</span>
    </p>
    <p>
    	Our philosophy is to restore healthy, normal movement patterns that maximize function by combining both the art and science of applied functional anatomy in the evaluation, treatment, and management of movement dysfunction.
    </p>

    </div>
    <div class="toggle-container">
        <div class="toggle-bar" target="1">
            <h4 class="condition-text">Spinal Dysfunction</h4>
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info1">
                <p>EW Motion Therapists (physical therapists) are highly skilled in the evaluation and treatment of spinal dysfunction. Dysfunctions of the spine may be of discogenic, facet, myofascial, joint, radicular, or the result of muscle imbalance in their origin.</p>
                <p>Common spinal diagnoses include: neck pain, lower back pain, lumbar pain, cervical, thoracic, or lumbar facet dysfunction, lumbopelvic dysfunction / pain, sacroiliac (SI) dysfunction, sciatica, pirifomis syndrome, radiculopathy, herniated nucleus pulposis (HNP), degenerative disc disease (DDD), spinal stenosis, and spondylolisthesis.</p>
                <p>EW Motion Therapy physical therapists utilize a medically based, whole body system - IMAP (Integrated Motion-Activation-Performance) to evaluate, treat, and prevent movement dysfunction. The IMAP system is designed to improve a client's mobility, address his or her movement dysfunction, eliminate pain when present, and to improve performance. Our programs are designed to optimize a client's mobility, so whatever they do, they can do it better.</p>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar" target="2">
            <h4 class="condition-text">Sports Injury</h4>
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info2">
                <p>EW Motion Therapists (physical therapists) are highly skilled in the evaluation and treatment of spinal dysfunction. Dysfunctions of the spine may be of discogenic, facet, myofascial, joint, radicular, or the result of muscle imbalance in their origin.</p>
                <p>Common spinal diagnoses include: neck pain, lower back pain, lumbar pain, cervical, thoracic, or lumbar facet dysfunction, lumbopelvic dysfunction / pain, sacroiliac (SI) dysfunction, sciatica, pirifomis syndrome, radiculopathy, herniated nucleus pulposis (HNP), degenerative disc disease (DDD), spinal stenosis, and spondylolisthesis.</p>
                <p>EW Motion Therapy physical therapists utilize a medically based, whole body system - IMAP (Integrated Motion-Activation-Performance) to evaluate, treat, and prevent movement dysfunction. The IMAP system is designed to improve a client's mobility, address his or her movement dysfunction, eliminate pain when present, and to improve performance. Our programs are designed to optimize a client's mobility, so whatever they do, they can do it better.</p>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar" target="3">
            <h4 class="condition-text">Pre- and Post-Operative Orthopedic Rehab</h4>
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info3">
                <p>EW Motion Therapists (physical therapists) are highly skilled in the evaluation and treatment of spinal dysfunction. Dysfunctions of the spine may be of discogenic, facet, myofascial, joint, radicular, or the result of muscle imbalance in their origin.</p>
                <p>Common spinal diagnoses include: neck pain, lower back pain, lumbar pain, cervical, thoracic, or lumbar facet dysfunction, lumbopelvic dysfunction / pain, sacroiliac (SI) dysfunction, sciatica, pirifomis syndrome, radiculopathy, herniated nucleus pulposis (HNP), degenerative disc disease (DDD), spinal stenosis, and spondylolisthesis.</p>
                <p>EW Motion Therapy physical therapists utilize a medically based, whole body system - IMAP (Integrated Motion-Activation-Performance) to evaluate, treat, and prevent movement dysfunction. The IMAP system is designed to improve a client's mobility, address his or her movement dysfunction, eliminate pain when present, and to improve performance. Our programs are designed to optimize a client's mobility, so whatever they do, they can do it better.</p>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar" target="4">
            <h4 class="condition-text">Overuse Injury</h4>
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info4">
                <p>EW Motion Therapists (physical therapists) are highly skilled in the evaluation and treatment of spinal dysfunction. Dysfunctions of the spine may be of discogenic, facet, myofascial, joint, radicular, or the result of muscle imbalance in their origin.</p>
                <p>Common spinal diagnoses include: neck pain, lower back pain, lumbar pain, cervical, thoracic, or lumbar facet dysfunction, lumbopelvic dysfunction / pain, sacroiliac (SI) dysfunction, sciatica, pirifomis syndrome, radiculopathy, herniated nucleus pulposis (HNP), degenerative disc disease (DDD), spinal stenosis, and spondylolisthesis.</p>
                <p>EW Motion Therapy physical therapists utilize a medically based, whole body system - IMAP (Integrated Motion-Activation-Performance) to evaluate, treat, and prevent movement dysfunction. The IMAP system is designed to improve a client's mobility, address his or her movement dysfunction, eliminate pain when present, and to improve performance. Our programs are designed to optimize a client's mobility, so whatever they do, they can do it better.</p>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar" target="5">
            <h4 class="condition-text">Balance Dysfunction</h4>
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info5">
                <p>EW Motion Therapists (physical therapists) are highly skilled in the evaluation and treatment of spinal dysfunction. Dysfunctions of the spine may be of discogenic, facet, myofascial, joint, radicular, or the result of muscle imbalance in their origin.</p>
                <p>Common spinal diagnoses include: neck pain, lower back pain, lumbar pain, cervical, thoracic, or lumbar facet dysfunction, lumbopelvic dysfunction / pain, sacroiliac (SI) dysfunction, sciatica, pirifomis syndrome, radiculopathy, herniated nucleus pulposis (HNP), degenerative disc disease (DDD), spinal stenosis, and spondylolisthesis.</p>
                <p>EW Motion Therapy physical therapists utilize a medically based, whole body system - IMAP (Integrated Motion-Activation-Performance) to evaluate, treat, and prevent movement dysfunction. The IMAP system is designed to improve a client's mobility, address his or her movement dysfunction, eliminate pain when present, and to improve performance. Our programs are designed to optimize a client's mobility, so whatever they do, they can do it better.</p>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar" target="6">
            <h4 class="condition-text">Neurological Rehabilitation</h4>
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info6">
                <p>EW Motion Therapists (physical therapists) are highly skilled in the evaluation and treatment of spinal dysfunction. Dysfunctions of the spine may be of discogenic, facet, myofascial, joint, radicular, or the result of muscle imbalance in their origin.</p>
                <p>Common spinal diagnoses include: neck pain, lower back pain, lumbar pain, cervical, thoracic, or lumbar facet dysfunction, lumbopelvic dysfunction / pain, sacroiliac (SI) dysfunction, sciatica, pirifomis syndrome, radiculopathy, herniated nucleus pulposis (HNP), degenerative disc disease (DDD), spinal stenosis, and spondylolisthesis.</p>
                <p>EW Motion Therapy physical therapists utilize a medically based, whole body system - IMAP (Integrated Motion-Activation-Performance) to evaluate, treat, and prevent movement dysfunction. The IMAP system is designed to improve a client's mobility, address his or her movement dysfunction, eliminate pain when present, and to improve performance. Our programs are designed to optimize a client's mobility, so whatever they do, they can do it better.</p>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar" target="7">
            <h4 class="condition-text">Women's Health</h4>
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info7">
                <p>EW Motion Therapists (physical therapists) are highly skilled in the evaluation and treatment of spinal dysfunction. Dysfunctions of the spine may be of discogenic, facet, myofascial, joint, radicular, or the result of muscle imbalance in their origin.</p>
                <p>Common spinal diagnoses include: neck pain, lower back pain, lumbar pain, cervical, thoracic, or lumbar facet dysfunction, lumbopelvic dysfunction / pain, sacroiliac (SI) dysfunction, sciatica, pirifomis syndrome, radiculopathy, herniated nucleus pulposis (HNP), degenerative disc disease (DDD), spinal stenosis, and spondylolisthesis.</p>
                <p>EW Motion Therapy physical therapists utilize a medically based, whole body system - IMAP (Integrated Motion-Activation-Performance) to evaluate, treat, and prevent movement dysfunction. The IMAP system is designed to improve a client's mobility, address his or her movement dysfunction, eliminate pain when present, and to improve performance. Our programs are designed to optimize a client's mobility, so whatever they do, they can do it better.</p>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar" target="8">
            <h4 class="condition-text">Sports Enhancement and Conditioning</h4>
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info8">
                <p>EW Motion Therapists (physical therapists) are highly skilled in the evaluation and treatment of spinal dysfunction. Dysfunctions of the spine may be of discogenic, facet, myofascial, joint, radicular, or the result of muscle imbalance in their origin.</p>
                <p>Common spinal diagnoses include: neck pain, lower back pain, lumbar pain, cervical, thoracic, or lumbar facet dysfunction, lumbopelvic dysfunction / pain, sacroiliac (SI) dysfunction, sciatica, pirifomis syndrome, radiculopathy, herniated nucleus pulposis (HNP), degenerative disc disease (DDD), spinal stenosis, and spondylolisthesis.</p>
                <p>EW Motion Therapy physical therapists utilize a medically based, whole body system - IMAP (Integrated Motion-Activation-Performance) to evaluate, treat, and prevent movement dysfunction. The IMAP system is designed to improve a client's mobility, address his or her movement dysfunction, eliminate pain when present, and to improve performance. Our programs are designed to optimize a client's mobility, so whatever they do, they can do it better.</p>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->

	</div>
    <div class="large-3 columns sidebar">
        {{partial 'conditions-sidebar'}}
    </div>
</div>