<div class="sidebar-container">
	<h3 class="sidebar-header">therapeutic</h3>
		<ul>
			<li class="about-sidebar-item"><a class="toggle-bar" target="1">Spinal Dysfunction</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar" target="2">Sports Injury</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar" target="3">Pre- and Post-Operative Orthopedic Rehab</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar" target="4">Overuse Injury</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar" target="5">Balance Dysfunction</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar" target="6">Neurological Rehabilitation</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar" target="7">Women's Health</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar" target="8">Sports Enhancement and Conditioning</a></li>
		</ul>
</div>







