<div class="row">
	<div class="large-12 columns home-bg">
		<div class="row">
			<div class="large-5 columns we-are-motion-therapy">
				<img class="index-header" src="assets/index_header.png">
			</div>
	  </div>
	</div>
</div>