<div class="row philosophy-content">
	<div class="large-9 columns about-us">
		{{!-- <img class="color-bar" src="/assets/color-bar.png"> --}}
    <img class="tab" src="/assets/about-us-tab.png">
    <div class="subpage-content-container">
    <p>
    	<span class="first-line-caps">Eskridge & White Motion Therapy</span> <span class="line-blue">is dedicated to providing exceptional quality and care in our physical therapy services.</span> <span class="line-bigger">From injury prevention and rehabilitation to fitness and wellness, it is our goal to improve the quality of life and function of every patient.</span>
    </p>
    <p>
    	Our philosophy is to restore healthy, normal movement patterns that maximize function by combining both the art and science of applied functional anatomy in the evaluation, treatment, and management of movement dysfunction.
    </p>
    </div>
    <div class="toggle-container">
        <div class="toggle-bar-programs ewpt" target="1">
            <img src="/assets/ewpt.png">
            <img src="/assets/ewpt-arrow.png" class="toggle-arrow">
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info1">
                <div class="row">
                    <div class="large-4 columns">
                        <img src="/assets/placeholder.png">
                    </div>
                    <div class="large-8 columns">
                        <p>At the core of everything we do is our physical therapy practice. EW PT is a family of physical therapy programs designed to help clients achieve a level of motion so that they can enjoy optimally active lifestyles. We employ the IMAP System – a very hands-on and intensive approach – to help clients recover from injuries ranging from wear-and-tear, common in runners and triathletes, to everyday aches and pains, to mobility challenges faced by seniors, to grievous injuries suffered in accidents. Each EW PT session is predominantly hands-on work with a therapist emphasizing manual therapy and directed exercise. It is client-centered, goal-oriented, and scientifically based.</p>
                        <ul class="program-lists">
                            <li>IMAP System</li>
                            <li>Hands-On</li>
                            <li>Manual Therapy</li>
                            <li>One-On-One</li>
                            <li>Client-Centered / Goal-Oriented</li>
                            <li>Directed Functional Exercise Progressions</li>
                            <li>Scientifically-Based</li>
                            <li>Teach As We Treat</li>
                        </ul>
                    </div>
                </div>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar-programs ewbody" target="2">
            <img src="/assets/ewbody.png">
            <img src="/assets/ewbody-arrow.png" class="toggle-arrow">
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info2">
                <div class="row">
                    <div class="large-4 columns">
                        <img src="/assets/placeholder.png">
                    </div>
                    <div class="large-8 columns">
                        <p>At the core of everything we do is our physical therapy practice. EW PT is a family of physical therapy programs designed to help clients achieve a level of motion so that they can enjoy optimally active lifestyles. We employ the IMAP System – a very hands-on and intensive approach – to help clients recover from injuries ranging from wear-and-tear, common in runners and triathletes, to everyday aches and pains, to mobility challenges faced by seniors, to grievous injuries suffered in accidents. Each EW PT session is predominantly hands-on work with a therapist emphasizing manual therapy and directed exercise. It is client-centered, goal-oriented, and scientifically based.</p>
                        <ul class="program-lists">
                            <li>IMAP System</li>
                            <li>Hands-On</li>
                            <li>Manual Therapy</li>
                            <li>One-On-One</li>
                            <li>Client-Centered / Goal-Oriented</li>
                            <li>Directed Functional Exercise Progressions</li>
                            <li>Scientifically-Based</li>
                            <li>Teach As We Treat</li>
                        </ul>
                    </div>
                </div>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar-programs ewrun" target="3">
            <img src="/assets/ewrun.png">
            <img src="/assets/ewrun-arrow.png" class="toggle-arrow">
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info3">
                <div class="row">
                    <div class="large-4 columns">
                        <img src="/assets/placeholder.png">
                    </div>
                    <div class="large-8 columns">
                        <p>At the core of everything we do is our physical therapy practice. EW PT is a family of physical therapy programs designed to help clients achieve a level of motion so that they can enjoy optimally active lifestyles. We employ the IMAP System – a very hands-on and intensive approach – to help clients recover from injuries ranging from wear-and-tear, common in runners and triathletes, to everyday aches and pains, to mobility challenges faced by seniors, to grievous injuries suffered in accidents. Each EW PT session is predominantly hands-on work with a therapist emphasizing manual therapy and directed exercise. It is client-centered, goal-oriented, and scientifically based.</p>
                        <ul class="program-lists">
                            <li>IMAP System</li>
                            <li>Hands-On</li>
                            <li>Manual Therapy</li>
                            <li>One-On-One</li>
                            <li>Client-Centered / Goal-Oriented</li>
                            <li>Directed Functional Exercise Progressions</li>
                            <li>Scientifically-Based</li>
                            <li>Teach As We Treat</li>
                        </ul>
                    </div>
                </div>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar-programs ewfit" target="4">
            <img src="/assets/ewfit.png">
            <img src="/assets/ewfit-arrow.png" class="toggle-arrow">
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info4">
                <div class="row">
                    <div class="large-4 columns">
                        <img src="/assets/placeholder.png">
                    </div>
                    <div class="large-8 columns">
                        <p>At the core of everything we do is our physical therapy practice. EW PT is a family of physical therapy programs designed to help clients achieve a level of motion so that they can enjoy optimally active lifestyles. We employ the IMAP System – a very hands-on and intensive approach – to help clients recover from injuries ranging from wear-and-tear, common in runners and triathletes, to everyday aches and pains, to mobility challenges faced by seniors, to grievous injuries suffered in accidents. Each EW PT session is predominantly hands-on work with a therapist emphasizing manual therapy and directed exercise. It is client-centered, goal-oriented, and scientifically based.</p>
                        <ul class="program-lists">
                            <li>IMAP System</li>
                            <li>Hands-On</li>
                            <li>Manual Therapy</li>
                            <li>One-On-One</li>
                            <li>Client-Centered / Goal-Oriented</li>
                            <li>Directed Functional Exercise Progressions</li>
                            <li>Scientifically-Based</li>
                            <li>Teach As We Treat</li>
                        </ul>
                    </div>
                </div>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar-programs ewteam" target="5">
            <img src="/assets/ewteam.png">
            <img src="/assets/ewteam-arrow.png" class="toggle-arrow">
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info5">
                <div class="row">
                    <div class="large-4 columns">
                        <img src="/assets/placeholder.png">
                    </div>
                    <div class="large-8 columns">
                        <p>At the core of everything we do is our physical therapy practice. EW PT is a family of physical therapy programs designed to help clients achieve a level of motion so that they can enjoy optimally active lifestyles. We employ the IMAP System – a very hands-on and intensive approach – to help clients recover from injuries ranging from wear-and-tear, common in runners and triathletes, to everyday aches and pains, to mobility challenges faced by seniors, to grievous injuries suffered in accidents. Each EW PT session is predominantly hands-on work with a therapist emphasizing manual therapy and directed exercise. It is client-centered, goal-oriented, and scientifically based.</p>
                        <ul class="program-lists">
                            <li>IMAP System</li>
                            <li>Hands-On</li>
                            <li>Manual Therapy</li>
                            <li>One-On-One</li>
                            <li>Client-Centered / Goal-Oriented</li>
                            <li>Directed Functional Exercise Progressions</li>
                            <li>Scientifically-Based</li>
                            <li>Teach As We Treat</li>
                        </ul>
                    </div>
                </div>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
    <div class="toggle-container">
        <div class="toggle-bar-programs ewworkplace" target="6">
            <img src="/assets/ewworkplace.png">
            <img src="/assets/ewworkplace-arrow.png" class="toggle-arrow">
        </div><!-- toggle-box -->
            <div class="hidden-content" id="info6">
                <div class="row">
                    <div class="large-4 columns">
                        <img src="/assets/placeholder.png">
                    </div>
                    <div class="large-8 columns">
                        <p>At the core of everything we do is our physical therapy practice. EW PT is a family of physical therapy programs designed to help clients achieve a level of motion so that they can enjoy optimally active lifestyles. We employ the IMAP System – a very hands-on and intensive approach – to help clients recover from injuries ranging from wear-and-tear, common in runners and triathletes, to everyday aches and pains, to mobility challenges faced by seniors, to grievous injuries suffered in accidents. Each EW PT session is predominantly hands-on work with a therapist emphasizing manual therapy and directed exercise. It is client-centered, goal-oriented, and scientifically based.</p>
                        <ul class="program-lists">
                            <li>IMAP System</li>
                            <li>Hands-On</li>
                            <li>Manual Therapy</li>
                            <li>One-On-One</li>
                            <li>Client-Centered / Goal-Oriented</li>
                            <li>Directed Functional Exercise Progressions</li>
                            <li>Scientifically-Based</li>
                            <li>Teach As We Treat</li>
                        </ul>
                    </div>
                </div>
            </div><!-- hidden-content -->
    </div><!-- toggle-container -->
	</div>
    <div class="large-3 columns sidebar">
        {{partial 'programs-sidebar'}}
    </div>
</div>