<div class="sidebar-container">
	<h3 class="sidebar-header">programs</h3>
		<ul>
			<li class="about-sidebar-item"><a class="toggle-bar-programs" target="1">EW PT</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar-programs" target="2">EW BODY</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar-programs" target="3">EW RUN</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar-programs" target="4">EW FIT</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar-programs" target="5">EW TEAM</a></li>
			<li class="about-sidebar-item"><a class="toggle-bar-programs" target="6">EW WORKPLACE</a></li>
		</ul>
</div>