<div class="sidebar-container">
	<h3 class="sidebar-header">learn more</h3>
		<ul>
			<li class="about-sidebar-item">{{#linkTo 'about.philosophy'}}Philosophy{{/linkTo}}</li>
			<li class="about-sidebar-item">Leadership</li>
			<li class="about-sidebar-item">Staff</li>
			<li class="about-sidebar-item">Affiliations</li>
		</ul>
</div>