{{! <ul class="inline-list sub-nav-list">
	<li><h6>PHILOSOPHY</h6></li>
	<li><h6>//</h6></li>
	<li><h6>LEADERSHIP</h6></li>
	<li><h6>//</h6></li>
	<li><h6>STAFF</h6><li>
	<li><h6>//</h6></li>
	<li><h6>AFFILIATIONS</h6></li>
</ul> }}