p {
	color: #5d646c;
}

span.first-line-caps {
	font-size: 1.5em;
	text-transform: uppercase;
	color: #6aa1bc;
}
span.line-blue {
	color: #6aa1bc;
	font-size: 1.4em;
}
span.line-bigger {
	font-size: 1.4em;
}

// Nav/Footer/Sidebar

.active {
	color: #edae65;
}

.left-nav {
	position: relative;
	background-image: url(left_nav2.png);
	background-repeat: no-repeat;
	width: 433px !important;
	height: 94px;
	position: absolute;
	z-index: 1;
	top: 8px;

	.ew_logo {
		margin-top: 23px;
		margin-left: 30px;
	}

	.eskridge-plus {
		margin-left: 159px;
		margin-top: -32px;
		text-transform: uppercase;
		color: #5d646c;
		font-size: 1.25em;
		letter-spacing: 2px;
	}
}

.nav {
	position: relative;
	background-color: #6aa1b6;
	height: 34px;
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 40px;

	.top-nav {
		margin-top: 7px;
		margin-left: 15px;
		margin-bottom: 0 !important;

		li h6 a {
			color: #fff;
			&:hover { color: #edae65; }
		}

		a.active {
				color: #edae65 !important;
			}
	}
}

.subnav {
	position: relative;
	background-color: #fff;
	height: 19px;
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 74px;
	box-shadow: 8px 7px 11px -1px #232323;
  -moz-box-shadow: 8px 7px 11px -1px #232323;
  -webkit-box-shadow: 8px 7px 11px -1px #232323;

	.subnav-list {
		margin-top: 1px;
		margin-left: 30px;
	}

	.subnav-item {
		font-size: 0.7em;
		text-transform: uppercase;

		.active {
			color: #6aa1bc;
		}

		a {
			color: #5d646c;
		}
	}
}

.sidebar-container {
	margin-top: 36px;
	padding-left: 30px;
	padding-bottom: 100px;
	height: 100%;
	border-left-style: solid;
	border-left-width: 1px;

	.sidebar-header {
		text-transform: uppercase;
		color: #5d646c;
		font-weight: 100;
	}
	
	ul {
			list-style-type: none;

			.about-sidebar-item {
				margin-bottom: 15px;
			}

			ul.staff-list {
					margin-left: 15px;
				}
  }
}

footer {
	height: 38px;
	width: 100%;
	background-color: #5a646d;

	.left-footer-nav {
		margin-left: 14px;
		margin-bottom: 0 !important;
		margin-top: 9px;

		li h6 {
			color: #fff;
		}
	}

	.right-footer-nav {
		float: right;
		margin-bottom: 0 !important;
		margin-top: 9px;

		li h6 {
			color: #fff;
		}
	}
}

.row .tab {
	position: absolute;
	top: -50px;
	left: 0px;
}

// Index

.home-bg {
	background-image: url(index_bg.png);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .we-are-motion-therapy {
  	margin-top: 250px;
		margin-left: 50px;
  }
}

// About

.about-bg {
	background-image: url(about-philosophy-header.png);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 12% 20%;
}


.about-phil {
	padding: 8% 0% 22% 0%;
	visibility: hidden;
}

.philosophy-content {
	background-color: #fff;

	.about-us {
		position: relative;
		padding-left: 53px !important;
		padding-top: 34px;

		.subpage-content-container {
			background-image: url(color-bar.png);
			background-repeat: repeat-y;
			padding-left: 32px;
		}
	}
}







