// Nav/Footer

.active {
	color: #edae65;
}

.left-nav {
	position: relative;
	background-image: url(left_nav.png);
	width: 406px !important;
	height: 86px;
	position: absolute;
	z-index: 1;
	top: 8px;

	.ew_logo {
		margin-top: 23px;
		margin-left: 30px;
	}
}

.nav {
	position: relative;
	background-color: #6aa1b6;
	height: 34px;
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 40px;

	.top-nav {
		margin-top: 9px;
		margin-left: 15px;
		margin-bottom: 0 !important;
	}
}

.subnav {
	position: relative;
	background-color: #fff;
	height: 19px;
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 75px;
	box-shadow: 4px -6px 14px -6px #333;
	-webkit-box-shadow: 4px -6px 14px -6px #333;
	-moz-box-shadow: 4px -6px 14px -6px #333;
}

footer {
	height: 38px;
	width: 100%;
	background-color: #5a646d;

	.left-footer-nav {
		margin-left: 28px;
		margin-bottom: 0 !important;
	}

	.right-footer-nav {
		float: right;
		margin-bottom: 0 !important;
	}
}

// Index

.home-bg {
	background-image: url(index_bg.png);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .we-are-motion-therapy {
  	margin-top: 250px;
		margin-left: 50px;
  }
}

// About

.philosophy-bg {
	background-image: url(about-philosophy-header.png);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 12% 20%;
}


.about-phil {
	padding: 8% 0% 22% 0%;
}






